.topicos{
    background: var(--azul-degrade);
    height: 295px;
    text-align: center;
    color: var(--branco);
}
.topicos__titulo{
    color: var(--branco);
    padding: 1em;
    font-weight: 300;
}
.topicos__listas{
    display: flex;
    /* flex-wrap quebra a linha evita aumentar a largura da pagina*/
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__itens{
    margin: 2em 0.5em;
}
.topicos__links{
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}